
body {
    background-color: #888;
}
.container {
  width:100%;
  padding-right: 0px;
  padding-left: 0px;
}
.navbar{
  width:100%;
  padding-right: 0px;
  padding-left: 0px;
}
@media (min-width: 376
  px) {
.signUpSelect {
    color: white;
    /*background-color: green;*/
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    opacity: 1;
    margin-top: 175px;
}
}
@media (max-width: 375px) {

    .navbar {
        margin-bottom: 0px;
    }
    .signUpSelect {
        color: white;
        /*background-color: green;*/
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 100;
        opacity: 1;
    }
    #pageVerbs {
        padding: 20px;
    }
    .features {
        padding-left: 10px;
        padding-right: 10px;
    }

    .wellText {
        background-color: #222;
        color: #999;
    }
    #signUpBtn {
      margin-left: 100px;
      margin-top: 210px;
    }
    #loginBtn {
        margin-left: 0px;
        margin-top: 210px;
    }
    .signUpContent {
        margin-right: 15px;
        padding-top: 40px;
    }
    .userInfo{
      text-align: center;
    }
    .userInfo ul{
      margin-top: 25px;
      margin-bottom: 25px;
      margin-right: 25px;
    }
        .userInfo li{
          padding-bottom: 10px;
        }
    .form {
        background: rgba($form-bg, .9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: $br;
        box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
    }
    #signUpSubmit{
      margin-bottom:20px
    }
    #loginSubmit{
      margin-bottom:20px
    }

}
