html {
    background-color: #2c3e50;
}

body {
    background-color:#222;
    padding:20px;
}

/*NAV*/
.navbar {
    margin-bottom: 0px;
    background-color: #2c3e50;
    border-radius: 0px;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
/*- - - - - - - - - - - - */
/*Profile Info*/
.userInfo ul {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}
.userInfo li {
    padding-bottom: 10px;
}
.profile-info{
  padding-top:40px;
  padding-bottom:40px;

}

/*- - - - - - - - - - - - - - - - - - */

/*Owl carousel*/
#owl-demo .item{
  margin: 3px;
  padding-bottom:10px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
/* - - - - - - - - - - - - - - - - - - - - - - - */

/*About*/
#name{
  text-decoration: underline;
  color:#53bfa5;

}
.companyLogo{
  height:100px;
  width:150px;
}
.aboutModalBody p{
  color:white;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 475px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/*Connect*/
.connect a{
  padding:5px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */



/*Build Feed*/
#feedPic{
  width:75px;
}
.buildFeed{
color:white;

}


.buildFeed{
  padding:40px;

}

.glyphicon{
  padding:10px;
}

}
.carousel-inner img{
  width:100%;
}
.buildComment{
  display:block;
}

____________________________________________________________
/*media queries */



@media (min-width: 769px) {
  .profile-info{
    padding:0px;
  }
  .profile-garage{

  }

}
@media (max-width: 769px) {

    .feature-divider {
        display: block;
        width: 60%;
        border-top: 1px solid white;
        border-bottom: 1px solid #6A6476;
    }
    .featuredContent h3 {
        display: inline-block;
    }
    .profile-info{
      padding:0px;
    }
    .profile-garage{
      padding:20px;
      padding-top:5px;

    }
}
@media (max-width: 415px) {
  .media-left{
    display:inline;
  }
